@import "tailwindcss";

:root {
  /* Koyu Tema Varsayılanları */
  --background: #050505;
  --foreground: #EDEDED;

  --card: #0A0A0A;
  --card-foreground: #EDEDED;

  --popover: #0A0A0A;
  --popover-foreground: #EDEDED;

  --primary: #e50412;
  --primary-foreground: #ffffff;

  --secondary: #262626;
  --secondary-foreground: #EDEDED;

  --muted: #171717;
  --muted-foreground: #A3A3A3;

  --accent: #e50412;
  --accent-foreground: #ffffff;

  --destructive: #7F1D1D;
  --destructive-foreground: #EDEDED;

  --border: #262626;
  --input: #262626;
  --ring: #e50412;

  --radius: 0rem;
}

.light {
  /* Açık Tema Değerleri */
  --background: #ffffff;
  --foreground: #050505;

  --card: #f9f9f9;
  --card-foreground: #050505;

  --popover: #ffffff;
  --popover-foreground: #050505;

  --primary: #e50412;
  --primary-foreground: #ffffff;

  --secondary: #f0f0f0;
  --secondary-foreground: #171717;

  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --accent: #e50412;
  --accent-foreground: #ffffff;

  --destructive: #EF4444;
  --destructive-foreground: #ffffff;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #e50412;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-slide-up: slide-up 0.5s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* Özel Kaydırma Çubuğu (Scrollbar) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}